@-ms-viewport {
    width: device-width;
}
@-o-viewport {
    width: device-width;
}
@viewport {
    width: device-width;
}
a, a:hover, a:visited, a:link {
    text-decoration: none;

    color: #526d7a;
}
body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;

    width: auto;
    height: 100%;
    min-height: 100%;
    margin: 0;

    background-color: #fcfcfc;
}
html {
    position: relative;

    height: 100%;
    min-height: 100%;
    margin: 0;
}
.author {
    color: #444;
}
.author h1, .author h2, .author h3, .author h4, .author h5,
.author h6, .author p {
    font-family: 'Fira Sans Condensed', serif;
}
.category {
    color: #966 !important;
}
.container {
    overflow: auto;

    max-width: 680px;
    padding: 0 15px;
}
.content {
    margin-top: 20px;
    margin-bottom: 20px;
}
div.content {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;

    color: #777;
}
.content h2, .content h3 {
    margin-top: 40px;
}
.content img {
    max-width: 100%;
}
.copyright {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 12px;
    font-weight: 300;
}
.description {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    color: #bbb;
}
.error {
    font-family: 'Fira Sans', sans-serif;

    margin-top: 100px;
}
.error h1 {
    font-size: 80px;

    color: #bbb;
}
.error p {
    margin-top: 150px;

    color: #777;
}
.excerpt {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 300;

    color: #555;
    margin-bottom: 20px;
}
.footer {
    margin-top: 10px;

    color: #bbb;
}
.header {
    margin-top: 60px;
    margin-bottom: 20px;
}
.headshot {
    width: 200px;
    height: 200px;
}
.info {
    margin-top: 10px;
    margin-bottom: 20px;
}
.intro {
    font-family: 'Fira Sans', serif;
    font-weight: 300;
    color: #777;
}
h3.intro {
    margin-top: 0px
}
.list {
    font-family: 'Fira Sans Condensed', sans-serif;

    margin-top: 50px;
}
.list li {
    list-style: none;
}
.list-entry {
    font-family: 'Fira Sans Condensed', serif;
    font-size: 25px;
    font-weight: 300;

    margin-top: 10px;
    margin-bottom: 20px;
}
.list-entry-link {
    padding: 0;
}
.main-menu {
    margin-top: 10px;
    margin-bottom: 20px;
}
.menu {
    margin-top: 10px;
    margin-bottom: 20px;
}
.menu-item {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 300;

    text-decoration: none;

    color: #966 !important;
}
.meta {
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;

    color: #bbb;
}
a.meta {
    color: #966;
}
h6.meta {
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;

    color: #bbb;
}
section.meta {
    margin-top:
}
.powered {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 12px;
    font-weight: 300;
}
.social {
    margin-top: 10px;
    margin-bottom: 20px;
}
.social, .social a {
    color: #526d7a;
}
.title {
    font-family: 'Fira Sans', serif;
    font-weight: 400;

    color: #555;
}
header.title {
    margin-top: 50px;
    padding: 0 15px;
}
@media (max-width: 991px) {
    .header {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .list {
        font-family: 'Fira Sans', sans-serif;

        margin-top: 30px;
    }
}
code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Fira Mono","Courier New",monospace;
}
pre {
    padding: 12px;
    border: none;
}
