<div class="row text-center header">
  {{ with .Site.Params.authorimage }} <img src="img/{{ . }}" itemprop="image" alt="Author Image" class="img-circle text-center headshot"> {{ end }}
  <h1 itemprop="name" class="author">{{ .Site.Params.author }}</h1>
</div>
