<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head itemscope itemtype='http://schema.org/WebSite'>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

{{ with .Site.Params.meta.description }}
  <meta name="description" content="{{ . }}">
  <meta itemprop="description" content="{{ . }}">
{{ end }}
{{ with .Site.Params.meta.keywords }}
  <meta name="keywords" content="{{ . }}">
  <meta itemprop="keywords" content="{{ . }}">
{{ end }}
<meta name="author" content="{{ .Site.Params.author }}">
<meta itemprop='image' content='{{ .Site.BaseURL }}img/portrait.jpg'>
<base itemprop="url" href="{{ .Site.BaseURL }}">

<title itemprop="name">{{ .Site.Title }}</title>

{{ .Hugo.Generator }}

{{ if .RSSLink }}
  <link href="{{ . }}" rel="alternate" data-rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}

{{ if .Site.Params.extra.highlightjs }}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css">
{{ end }}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Fira+Sans:300,300i,400,400i">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ "css/main.css" | absURL }}">

<!-- OpenGraph -->
{{ with .Site.Params.meta.description }}<meta property="og:site_name" content="{{ . }}">{{ end }}
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Site.BaseURL }}">
<meta property="og:title" content="{{ .Site.Title }}">
<meta property="og:image" content="{{.Site.BaseURL}}img/{{ .Site.Params.authorimage }}">
<meta property="og:locale" content="en_GB">
{{ with .Site.Params.intro }} <meta property="og:description" content="{{ . }}"> {{ end }}

<!-- Twitter card -->
<meta property="twitter:card" content="summary">
{{ with .Site.Params.social.twitter }}<meta property="twitter:creator" content="@{{ . }}">{{ end }}
<meta property="twitter:title" content="{{ .Site.Title }}">
<meta property="twitter:url" content="{{ .Site.BaseURL }}">
<meta property="twitter:image" content="{{.Site.BaseURL}}img/{{ .Site.Params.authorimage }}">
{{ with .Site.Params.meta.description }}<meta property="twitter:description" content="{{ . }}">{{ end }}

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- <link rel="apple&#45;touch&#45;icon" sizes="180x180" href="/apple&#45;touch&#45;icon.png"> -->
<!-- <link rel="icon" type="image/png" href="/favicon&#45;32x32.png" sizes="32x32"> -->
<!-- <link rel="icon" type="image/png" href="/favicon&#45;16x16.png" sizes="16x16"> -->
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#fcfcfc">

</head>
<body lang="{{ .Site.LanguageCode }}">
<div class="container">

