<div id="info-pane" class="row text-center info">
  {{ with .Site.Params.intro }}
  <h3 itemprop="description" class="intro">{{ . | markdownify }}</h3>
  {{ end }}
  {{ with .Site.Params.description }}
  <h4 class="description">{{ . | markdownify }}</h4>
  {{ end }}
</div>
