<section id="main-menu-pane" class="row text-center main-menu">
  <ul class="list-inline">
  {{ range sort .Site.Menus.main }}
  <li><a class="menu-item" href="{{ .URL }}">{{ .Name | lower }}</a></li>
  {{ end }}
  </ul>
</section>
